<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Welcom to popup</h1>
  <div id="myDiv">Thi is the first Div</div>
  <div class="first">
    <span>Span 1!</span>
    <span>Span 2!</span>
    <span>Span 3!</span>
    <span>Span 4!</span>
    <span>Span 5!</span>
    <span>Span 6!</span>
    <span>Span 7!</span>
  </div>
  <p class="first">Hello</p>
  <img src="https://via.placeholder.com/200" alt="img">
  <img src="https://via.placeholder.com/200" alt="img">
  <img src="https://via.placeholder.com/200" alt="img">
  <ul class="second">
    <li class="list-item">Link 1</li>
    <li class="list-item">Link 2</li>
    <li class="list-item">Link 3</li>
    <li class="list-item">Link 4</li>
    <li class="list-item">Link 5</li>
    <li class="list-item">Link 6</li>
    <li class="list-item">Link 7</li>
  </ul>
  <input type="text" name="text" id="newtext">
  <button>Add+</button>
  <script src='index.js'></script>
</body>

</html>